<volist name="positionRes" id="vo">
    <tr>
        <td>{$vo.id}</td>
        <td>{$vo.name}</td>
        <td>{$vo.create_time}</td>
        <td><span  attr-status="<if condition="$vo['status'] eq 1">0<else/>1</if>"  attr-id="{$vo.id}" class="sing_cursor singcms-on-off" id="singcms-on-off" >{$vo.status|changeStatus}</span></td>
        <td>
            <span class="sing_cursor glyphicon glyphicon-edit" aria-hidden="true" id="singcms-edit" attr-id="{$vo.id}" ></span>
            <a href="javascript:void(0)" id="singcms-delete"  attr-id="{$vo.id}"  attr-message="删除">
                <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
</volist>
<nav>
    <div class="page">
        {$positionShow}
    </div>
</nav>